.vscode/
__pycache__/
rt_1_x_tf_trained_for_002272480_step/
*.yaml
*.ipynb

# Media files
*.gif
*.png
*.jpg
*.jpeg

# 3D files
*.obj
*.fbx
*.blend
*.stl
*.3ds
*.dae
*.ply
*.x3d
*.glb
*.gltf
*.usd
*.xyz
